<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Kamar</title>
    <title>Add Kamar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Update Kamar')"></nav>
    <h2 id="judul">Change Data Kamar</h2>
    <form th:action = "@{/kamar/change}" th:object = "${kamar}" method = "POST">
        <input type="hidden" th:field="*{noKamar}">
        Nama Kamar : <br>
        <input type="text" name="namaKamar" th:value="*{namaKamar}"/>
        <br><br>
        Tipe Kamar : <br>
        <select name="tipe">
            <option value="0">Deluxe</option>
            <option value="1">Executive</option>
            <option value="2">President Suite</option>
        </select>
        <br><br>
        Kapasitas Kamar : <br>
        <input type="number" name = "kapasitasKamar" th:value="*{kapasitasKamar}"/>
        <br>
        <button type = "submit">Submit</button>
    </form>
</body>
</html>
