<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Add Hotel')"></nav>
    <h3 id="judul">Tambah Hotel</h3>
    <form th:action = "@{/hotel/add}" th:object = "${hotel}" method = "POST">
        Nama Hotel : <br>
        <input type="text" name="namaHotel"/>
        <br><br>
        Alamat : <br>
        <input type = "text" name="alamat"/>
        <br><br>
        Nomor Telepon : <br>
        <input type = "number" name="nomorTelepon"/>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
