<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace = "fragments/fragment :: navbar('Home')"></nav>
    <div class="container-fluid">
        <h3 id="judul">Selamat Datang di Traveloke!</h3>
        <a th:href="@{/hotel/viewall}" class="btn btn-primary">View All Hotel</a>
        <a th:href="@{/hotel/add}" class="btn btn-outline-primary">Tambah Hotel</a>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Cari Hotel Berdasarkan ID Hotel</div>
                    <div class="card-body">
                        <form th:action="@{/hotel/view}" method="GET">
                            <div class="form-row">
                                <div class="col-10">
                                    <input id="id" type="text" name="id" class="form-control" placeholder="ID Hotel">
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary btn-block"> Cari </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>