<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaaf.org">
<head>
    <title>Updated Hotel</title>
    <title>Add Kamar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h2 th:text="'Hotel dengan id Hotel ' + ${hotel.id} + ' berhasil diubah!'"></h2>
    <td><a th:href="@{/hotel/view/}+'?id='+${hotel.id}">View Hotel</a></td>
</body>
</html>
