<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('View All Hotel')"></nav>
    <div class="container-fluid">
        <h2 id = "judul">Daftar Seluruh Hotel</h2>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id hotel</th>
                            <th>Nama Hotel</th>
                            <th>Alamat Hotel</th>
                            <th>Nomor telepon</th>
                            <th>Aksi</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    <thread>
                        <tr th:each="hotel: ${hotel}">
                            <td th:text="${hotel.id}"></td>
                            <td th:text="${hotel.namaHotel}"></td>
                            <td th:text="${hotel.alamat}"></td>
                            <td th:text="${hotel.nomorTelepon}"></td>
                            <td>
                                <a th:href="@{/hotel/view/}+'?id='+${hotel.id}" class="btn btn-outline-primary">Detail</a>
                                <a th:href="@{/hotel/change/}+${hotel.id}" class="btn btn-outline-primary">Update</a>
                                <a th:href="@{/hotel/delete/}+${hotel.id}" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    </thread>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

