<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View All Hotel</title>
</head>
<body>
<h2>Daftar Seluruh Hotel</h2>
<div th:each="hotel: ${hotel}">
    <h3 th:text="'Id Hotel: '+ ${hotel.id}"></h3>
    <h3 th:text="'Nama Hotel: '+ ${hotel.namaHotel}"></h3>
    <h3 th:text="'Alamat Hotel: '+ ${hotel.alamat}"></h3>
    <h3 th:text="'Nomor Telepon: '+ ${hotel.nomorTelepon}"></h3>
    <td><a th:href="@{/hotel/view/}+'?id='+${hotel.id}">Detail Hotel</a></td>
    <hr>
</div>
</body>
</html>