<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View Hotel</title>
</head>
<body>
<section>
    <h2>Informasi Hotel </h2>
    <h3 th:text="'ID hotel: '+ ${hotel.id}"></h3>
    <h3 th:text="'Nama Hotel: '+ ${hotel.namaHotel}"></h3>
    <h3 th:text="'Alamat Hotel: '+ ${hotel.alamat}"></h3>
    <h3 th:text="'Nomor Telepon: '+ ${hotel.nomorTelepon}"></h3>
</section>
<section>
    <h2>Daftar Kamar:</h2>
    <div th:each="kamar : ${listKamar}">
        <h3 th:text="'No Kamar: '+ ${kamar.noKamar}"></h3>
        <h3 th:text="'Nama Kamar: '+ ${kamar.namaKamar}"></h3>

        <h3 th:if="${kamar.tipe == 0}">Tipe : Deluxe</h3>
        <h3 th:if="${kamar.tipe == 1}">Tipe : Executive</h3>
        <h3 th:if="${kamar.tipe == 2}">Tipe : President Suite</h3>

        <h3 th:text="'Kapasitas Kamar: '+ ${kamar.kapasitasKamar}"></h3>
        <td><a th:href="@{/kamar/change/}+${kamar.noKamar}">Change Data Kamar</a></td>
    </div>
    <td><a th:href="@{/kamar/add/}+${hotel.id}">Add Kamar</a></td>
</section>

</body>
</html>